@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F3F5FA;
  color: #173D33;
  font-family: "Fira Sans", sans-serif;
}
input {
  background-color: transparent;
}
textarea {
  background-color: transparent;
}

@layer utilities {
  .max-container {
    @apply mx-auto max-w-[1280px]
  }
  .padding-container {
    @apply px-[30px]
  }
  .nav {
    @apply cursor-pointer hover:text-secondary text-[24px] flex gap-2
  }
  .btn_green {
    @apply flex justify-center items-center gap-3 px-4 py-[10px] text-[16px] rounded-3xl bg-secondary
  hover:bg-primary hover:text-secondary cursor-pointer
  }
  .btn_transparent {
    @apply flex justify-center items-center gap-3 pl-4 py-1 pr-1 text-[16px] rounded-3xl bg-transparent border-secondary border-2
    hover:bg-primary hover:text-secondary hover:border-none cursor-pointer
  }
  .btn_transparent_circle {
    @apply flex justify-center items-center p-[15px] rounded-full hover:border-secondary cursor-pointer border-primary border-2
  }
  .btn_green_circle {
    @apply flex justify-center items-center px-3 py-3 rounded-full bg-secondary
    hover:bg-primary hover:text-secondary cursor-pointer
  }
  .btn_menu {
    @apply px-3 py-3 bg-green_light rounded-full ml-auto
  }
  .btn_close {
    @apply flex justify-center items-center gap-1 p-1 text-[16px] text-white flex-row-reverse hover:text-secondary cursor-pointer  focus:text-secondary fill-secondary
  }
  .regular-12 {
    @apply text-[12px] font-[400] tracking-[0.48px]
  }
  .regular-14 {
    @apply text-[14px] font-[400] tracking-[0.56px]
  }
  .regular-16 {
    @apply text-[16px] font-[400] tracking-[-0.64px] leading-5
  }
  .regular-18 {
    @apply text-[18px] font-[400] tracking-[-0.72px]
  }
  .regular-20 {
    @apply text-[20px] font-[400] tracking-[-0.8px] leading-none
  }
  .regular-28 {
    @apply text-[28px] font-[400] tracking-[1px] leading-none
  }
  .regular-number {
    @apply text-[28px] font-[300] tracking-[-1.12px]
  }
  .regular-36 {
    @apply text-[36px] font-[400] tracking-[1px] leading-none
  }
  .bold-48 {
    @apply text-[48px] font-[700] tracking-[1px] leading-none
  }
  .bold-100 {
    @apply text-[100px] font-[700] tracking-[1px] leading-none
  }
  .bold-164 {
    @apply text-[164px] font-[700] tracking-[1px] leading-none
  }
}
